.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 3.72rem;

	.title {
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin-bottom: 1.87rem;

		.titleBox {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			height: 100%;
			h3 {
				margin-bottom: 0;
			}
			@media screen and (min-width: 1024px) {
				width: 85%;
				gap: 2rem;
			}

			.paginationBox {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.62rem;
			}
		}
	}

	h3 {
		margin-bottom: 1.88rem;
		font-size: 1.75rem;
		font-family: 'Evolventa-Bold';
	}

	.itemBox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media screen and (min-width: 1024px) {
			flex-direction: row;
			flex-wrap: wrap;
		}

		.item {
			width: 100%;

			@media screen and (min-width: 1024px) {
				width: 50%;
			}
		}
	}
}
