.root {
	padding: 1.25rem;
	background-color: var(--primary-color);
	color: white;
	border-radius: 1.875rem;
	@media screen and (min-width: 1024px) {
	}
	.mainContent {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (min-width: 1024px) {
			margin-bottom: 4.5rem;
		}
	}
	.pagination {
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			text-decoration: none;
			color: var(--secondary-color);
		}
		& .selectedPage {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease-in-out;
			font-family: 'TildaSans-Medium', sans-serif;
			font-size: 1.3rem;
			&:hover {
				color: #fff;
			}
		}
	}
	& .text {
		display: flex;
		flex-direction: column;
		& span:first-child {
			font-size: 1.75rem;
			font-family: 'Evolventa-Bold';
		}
		& span:last-child {
			max-width: 9rem;
			font-size: 1.375rem;
			color: rgba(253, 253, 252, 0.8);
			font-family: 'TildaSans-Medium';
		}
	}
	& .icons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		min-height: 5.9rem;
	}
}
