.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	width: 3rem;
	padding: 0.8rem 1rem;
	background-color: white;
	border: none;
	border-radius: 2.5rem;
	& div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& div:first-child {
		background-color: white;
		border-top-left-radius: 2.5rem;
		border-bottom-left-radius: 2.5rem;
	}
	& div:last-child {
		background-color: white;
		border-top-right-radius: 2.5rem;
		border-bottom-right-radius: 2.5rem;
	}
}
