.root {
	width: 100%;
}
.mainRoot {
	width: 85%;
	margin: 0 auto;
	.textBoxWrapper {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 2.87rem;
		cursor: default;

		& div {
			height: 100%;
			&,
			p {
				font-size: 3rem;
				font-family: 'Evolventa-Bold';
			}
			p,
			span {
				transition: all 0.3s ease-in-out;
			}
			p:hover,
			span:hover {
				color: var(--primary-color);
				transform: scale(1.1);
			}
			&:first-child span {
				color: var(--primary-color);
			}
			&:last-child {
				align-self: flex-end;
			}
		}
	}
	.mainHeading {
		font-size: 2.375rem;
		margin-bottom: 1.87rem;
	}
	.mainText,
	.mainHeading {
		text-align: center;
	}
	.mainText {
		font-size: 1.375rem;
		font-weight: 500;
		margin-bottom: 2.5rem;
	}
	.catalogy {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 1.87rem;
		& span {
			font-family: 'Evolventa-Bold';
			font-size: 1.75rem;
		}
	}
	@media screen and (min-width: 1320px) {
		width: 1320px;
	}
}
