.root {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.88rem;
	min-height: 30rem;
	gap: 1.87rem 1rem;
	@media screen and (min-width: 1024px) {
		justify-content: flex-start;
		div {
			max-width: 12rem;
		}
	}

	.additionalItem,
	.spinnerBox {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		min-width: 14rem;
		h3 {
			margin-bottom: 0.8rem;
			color: var(--secondary-color);
			font-family: 'Evolventa-Bold';
			font-size: 1.3rem;
		}
		p {
			width: 12rem;
			margin-bottom: 2rem;
			font-family: 'TildaSans-Regular';
			font-size: 1rem;
		}
		a {
			padding: 0.8rem 1rem;
			text-decoration: none;
			font-size: 1rem;
			font-family: 'TildaSans-Medium';
		}
	}
}
.paginationBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.25rem;
	margin-bottom: 3.13rem;

	.paginationPages {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.55rem;
		user-select: none;

		& .disableSpan {
			visibility: hidden;
		}
		& .selectedPage {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease-in-out;
			font-family: 'TildaSans-Bold';
			font-weight: 700;
			font-size: 0.875rem;

			&:hover {
				color: #fff;
			}
		}
	}
}
