.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.31rem;
	font-size: 0.6875rem;
	font-family: 'TildaSans-Bold';
	font-weight: 700;
	border: none;
	border-radius: 2.5rem;
	line-height: normal;
	transition: all 0.5s ease-in-out;
	background-color: #fff;
	@media screen and (min-width: 1024px) {
		padding: 0 0.6rem;
	}
	cursor: pointer;
	a {
		color: #fff;
		text-decoration: none;
	}
}
