.aboutUs {
	.flexContainer {
		margin-bottom: 3.12rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media screen and (min-width: 1024px) {
			flex-direction: row;
			align-items: stretch;
			gap: 0.6rem;
		}

		.PhotoBox {
			flex: 1;
			padding: 1rem;
			border-radius: 40px;
			background-color: var(--content-bg);
		}

		.companyPersons {
			display: flex;
			flex-direction: column;
			gap: 1.87rem;
			flex: 1;

			@media screen and (min-width: 768px) {
				gap: 1.25rem;
			}

			.aboutUsItems {
				width: 100%;
				display: flex;
				justify-content: space-between;
				gap: 1rem;

				@media screen and (min-width: 1024px) {
					gap: 0.4rem;
				}
			}
		}
	}
}
