.reviews {
	@media screen and (min-width: 1024px) {
		margin-bottom: 2rem;
	}
	.title {
		display: flex;
		justify-content: space-between;
	}
	.titleBox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 1.87rem;
		@media screen and (min-width: 1024px) {
			width: 95%;
			justify-content: flex-start;
			gap: 2rem;
		}
		h2 {
			font-size: 1.75rem;
			font-family: 'Evolventa-Bold';
		}
		.paginationBox {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.62rem;
		}
	}
	.reviewsBlock {
		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			margin: 0 auto;
			gap: 0.2rem;
		}
		.textBlockWrapper {
			@media screen and (min-width: 768px) {
				width: 45%;
			}
			@media screen and (min-width: 1024px) {
				width: 22%;
			}
		}
	}
}
