.root {
	width: 100%;
}
.mainRoot {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	margin: 0 auto;
	height: 5.7rem;
	margin-bottom: 1.88rem;
	.headerBtnBox {
		display: flex;
		gap: 0.7rem;
		button,
		a {
			padding: 0.5rem 1rem;
		}
	}
	@media screen and (min-width: 1320px) {
		width: 1320px;
	}
}
