.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	.error {
		position: absolute;
		bottom: 50%;
		right: 0;
		padding: 2px;
		margin-right: 0.2rem;
		color: red;
		opacity: 50%;
		background-color: white;
		font-size: 12px;
		overflow: scroll;
		border: 1px solid red;
		border-radius: 5px;
	}

	.errorIcon {
		position: absolute;
		bottom: 50%;
		right: 0;
		height: 1.5rem;
		width: 1.5rem;
		margin-right: 0.6rem;
		fill: rgb(203, 5, 5);
	}

	.input {
		width: 100%;
		margin-bottom: 1.25rem;
		padding: 1rem 0;
		text-indent: 1.25rem;
		border-radius: 2.5rem;
		outline: none;
		border: none;
		background-color: #f5f6f1;

		&:focus {
			border: 3px solid var(--primary-color);
		}
	}
}
.errorText {
	position: absolute;
	bottom: 100%;
	left: 60%;
	width: 8rem;
	padding: 1rem;
	background-color: white;
	border: 2px solid red;
	border-radius: 20px;
	font-size: 0.8rem;
	z-index: 1;
}
