.root {
	display: flex;
	width: 100%;
	padding-top: 3.6rem;
	padding-bottom: 1.5rem;
	background-color: var(--secondary-color);

	.contentWrapper {
		display: flex;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto;
		@media screen and (min-width: 1320px) {
			max-width: 1440px;
		}
		a,
		p {
			color: white;
			text-decoration: none;
			transition: all 0.3s ease-in-out;
			font-family: 'TildaSans-Regular';
			&:hover:not(.addressText) {
				color: var(--primary-color);
			}
		}
		.footerFrsLogo,
		.footerScdLogo,
		.footerThrdLogo {
			display: block;
			padding-bottom: 1.87rem;
			font-family: 'Evolventa-Bold', sans-serif;
		}
		.frstCol {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			& div:first-child {
				margin-bottom: 8.3rem;
			}

			.footerFrsLogo {
				font-size: 2.5rem;
			}

			.frstColContent {
				p {
					padding-bottom: 1.25rem;
					width: 8rem;
				}
			}
			span {
				color: white;
				font-family: 'TildaSans-Regular';
			}
		}
		.scdCol {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			align-items: flex-start;
			.footerScdLogo {
				font-size: 1.875rem;
				line-height: 2;
			}
			.cityList {
				display: flex;
				flex-direction: column;
				gap: 1.25rem;
			}
			.privacy {
				display: flex;
				gap: 2rem;
			}
		}
		.thrdCol {
			.footerThrdLogo {
				font-size: 1.875rem;
				line-height: 2;
			}
			.scdLityList {
				display: flex;
				flex-direction: column;
				gap: 1.25rem;
			}
		}
	}
	.footerIconBox {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 1rem;
		
	}
}
