.root {
	display: flex;
	flex-direction: column;
	padding: 1.88rem;
	margin-bottom: 1.88rem;
	background-color: var(--content-bg);
	border-radius: 1.875rem;
	@media screen and (min-width: 1024px) {
		padding: 1rem 1.88rem;
		margin-bottom: 0.7rem;
	}
	.titleBox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.25rem;
		font-size: 1.75rem;

		@media screen and (min-width: 1024px) {
			margin-bottom: 0.5rem;
		}
		.withAvatar {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.63rem;
			& h5 {
				font-size: 1.125rem;
				font-family: 'TildaSans-Medium';
				@media screen and (min-width: 1024px) {
					font-size: 0.8rem;
				}
			}
			.nameBox {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				gap: 0.1rem;

				span {
					font-size: 0.6rem;
					color: #949494;
				}
			}
			& .avatar {
				width: 2.125rem;
				height: 2.125rem;
				border-radius: 50%;
				object-fit: cover;
			}
		}
	}
	p {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		font-family: 'TildaSans-Regular';
		@media screen and (min-width: 768px) {
			-webkit-line-clamp: 8;
		}
		@media screen and (min-width: 1024px) {
			height: 10rem;
			font-size: 1.1rem;
		}
	}
	.withOutTitle {
		display: flex;
		justify-content: space-between;
		p {
			width: 70%;
			@media screen and (min-width: 768px) {
				width: 80%;
			}
		}
	}
}
