.mainRoot {
	display: flex;
	margin-bottom: 3.12rem;
	@media screen and (min-width: 768px) {
		justify-content: space-between;
	}
	@media screen and (min-width: 1024px) {
		gap: 1.25rem;
	}
}
.root {
	background-color: var(--content-bg);
	padding: 1.25rem;
	border-radius: 1.875rem;
	width: 100%;
	@media screen and (min-width: 768px) {
		width: 70%;
	}

	.gridContainer {
		@media screen and (min-width: 1024px) {
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr repeat(2, 2fr);
			grid-template-rows: repeat(2, auto);
		}
	}

	& .formHeading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2.2rem;
		.iconBox {
			display: flex;
			gap: 1.25rem;
		}
		& h2 {
			font-size: 1.75rem;
		}
	}
	& .submitBtn {
		width: 100%;
		margin-top: 0.62rem;
		padding: 0.77rem 0;
		background-color: var(--primary-color);
		font-size: 1.375rem;
		color: rgba(253, 253, 252, 0.8);
		font-family: 'TildaSans-Medium';
		border-radius: 2.5rem;
		border: none;
		&:disabled {
			background-color: var(--disabled-color);
			color: rgba(195, 189, 189, 0.5);
		}
	}
}
