.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-top: 3.6rem;
	background-color: var(--secondary-color);

	a,
	p {
		color: white;
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		&:hover:not(.addressText) {
			color: var(--primary-color);
		}
	}
	.contentWrap {
		display: flex;
		flex-direction: column;
		width: 85%;
		margin: 0 auto;
		.linkBox {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			& div:last-child {
				display: flex;
				justify-content: space-around;
				font-size: 0.75rem;
			}
		}
		.footerLogoWrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1.87rem;
			color: #fff;
			font-size: 1.875rem;
			font-family: 'Evolventa-Bold', sans-serif;

			.footerLogo {
				font-size: 2.5rem;
			}
		}

		.mainBox {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.87rem;

			font-size: 1.125rem;
			font-family: 'TildaSans-Regular';
			p {
				width: 8rem;
			}
			.addressBoxWrapper {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.addressBox {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					p {
						margin-bottom: 3.3rem;
					}
					a {
						margin-bottom: 1.88rem;
					}
				}
			}
		}
	}
	.cityListWrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.popular {
			padding-bottom: 2rem;
		}
	}
	.privacy {
		display: flex;
		gap: 1.25rem;
	}
	@media screen and (min-width: 1320px) {
		width: 1320px;
	}
}
