@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
:root {
	--primary-color: #534d96;
	--dark-primary-color: #312b78;
	--disabled-color: #5c597c99;
	--secondary-color: #202026;
	/* --success-color: #;
	--danger-color: #;
	--warning-color: #; */

	--body-bg: #d7d8d8;
	--content-bg: #e8e8e8;

	font-size: 16px;
}
@media screen and (min-width: 768px) {
	:root {
		font-size: 18px;
	}
}
@media screen and (min-width: 876px) {
	:root {
		font-size: 20px;
	}
}
@media screen and (min-width: 1024px) {
	:root {
		font-size: 22px;
	}
}

@font-face {
	font-family: 'Evolventa-Bold';
	src: url('assets/fonts/Evolventa-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TildaSans-Medium';
	src: url('assets/fonts/TildaSans-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TildaSans-Regular';
	src: url('./assets/fonts/TildaSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TildaSans-Bold';
	src: url('./assets/fonts/TildaSans-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'TildaSans-Medium', sans-serif;
	line-height: 1.5;
	background-color: var(--body-bg);
	line-height: normal;
}
button {
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Evolventa-Bold', sans-serif;
	font-weight: bold;
	color: var(--secondary-color);
}
p {
	font-family: 'TildaSans-Medium', sans-serif;
	color: var(--secondary-color);
}
.primaryBg {
	background-color: var(--primary-color);
}
.secondaryBg {
	background-color: var(--secondary-color);
}
.contentBg {
	background-color: var(--content-bg);
}
.whiteBg {
	background-color: #fff;
}
.icon,
.iconBg {
	transition: all 0.8s;
}

.iconBg:hover .icon {
	fill: var(--hover-color, currentColor);
}
.iconBg:hover {
	background-color: var(--hover-colorBg, currentColor);
}

.arrowHover:hover {
	transition: all 0.5s;
	transform: rotate(360deg);
}
.whiteBtn {
	background-color: white;
	color: var(--secondary-color);
	transition: all 0.5s;
}

.whitePrimaryBtn {
	background-color: white;
	color: var(--secondary-color);
	transition: all 0.5s;
	text-decoration: none;
}
.whitePrimaryBtn:hover {
	background-color: var(--primary-color);
	color: white;
}

.whiteBtn:hover {
	background-color: var(--secondary-color);
	color: white;
}
.chevron {
}
.chevron:hover {
	transition: all 0.3s;
	transform: scale(1.6);
}

.whiteText {
	color: var(--secondary-color);
	user-select: none;
}
.whiteBg:hover .whiteText {
	color: white;
}
