.aboutUsInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.47rem 1.6rem;
	border-radius: 2.5rem;
	background-color: var(--primary-color);
	button {
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
	}
	& div:first-child {
		margin-bottom: 1.38rem;
	}
	span {
		font-family: 'Evolventa-Bold';
		color: white;
		font-size: 1.4rem;
	}
	p {
		max-width: 5rem;
		font-size: 1rem;
		font-family: 'TildaSans-Regular';
		color: rgba(232, 232, 232, 0.8);
	}
}