.root {
	width: 10rem;
	padding: 0.62rem;
	padding-bottom: 1.25rem;
	background-color: var(--content-bg);
	border-radius: 1.875rem;
	@media screen and (min-width: 1024px) {
		min-width: 13rem;
	}
	& .textBox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		text-align: left;
		& h3 {
			width: 100%;
			margin-bottom: 0.63rem;
		}
	}
	& img {
		width: 100%;
		height: 8.2rem;
		margin-bottom: 1.25rem;
		object-fit: cover;
		border-radius: 1.875rem;
		transition: all 0.5s ease-in-out;

		&:hover {
			cursor: pointer;
			transform: scale(1.05);
		}
	}
	& p {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 1.38rem;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		font-size: 0.875rem;
		font-family: 'TildaSans-Medium';
		color: #949494;
	}
	& .iconBox {
		display: flex;
		justify-content: center;
		gap: 0.62rem;
	}
}
